/* Стиль для основного заголовка страницы */
.coursesContainer h2 {
    font-size: 28px;
    font-weight: bold;
    color: rgb(50, 0, 70);
    margin-bottom: 20px;
    text-align: center;
}

/* Стиль для заголовков фильтров */
.filtersContainer h2 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(106, 10, 147);
    margin-bottom: 15px;
}

.filterGroup h3 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}


.pageContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.filtersContainer {
    width: 250px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 25px;
}

.filterGroup {
    margin-bottom: 20px;
}

.filterGroup h3 {
    margin-bottom: 10px;
}

.filterGroup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filterGroup ul li {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    border-radius: 25px;
}

.filterGroup ul li:hover{
    background-color: white;
    border: 1px solid #a65fd5;
}

.filterGroup ul li.activeFilter {
    background-color:#a65fd5;
    color: white;
    border-color:#a65fd5;
}

.coursesContainer {
    flex: 1;
}

.coursesContainer h2 {
    margin-bottom: 20px;
}

.courseGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.priceInputs {
    display: flex;
    gap: 10px;
}

.priceInputs input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;

}

.priceInputs input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filterGroup input[type='number']{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    padding: 8px 20px;
    border-radius: 10px;
}