.section {
    background: linear-gradient(90deg, #0b0c10, #4e0069);
    color: #ffffff;
    border-radius: 24px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 1300px;
    margin: 48px auto;
    overflow: hidden;
}

.leftSide {
    width: 50%;
    text-align: left;
}

.heading3 {
    color: #dfb8f6;
    font-size: 18px;
    margin-bottom: 8px;
}

.heading2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.paragraph {
    font-size: 16px;
    margin-bottom: 24px;
}

.button {
    background-color: #bb6cce;
    color: #fff;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.rightSide {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 128%; /* Take the full height of the section */
}

.image {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}

.discountBadge {
    position: absolute;
    top: 16px;
    right: -6px;
    background-color: #ff4500;
    color: #fff;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
}
